
__pycache__/random_graph.cpython-312.pyc
data.csv
__pycache__/run_minizinc.cpython-312.pyc
*.pyc
OLD_run_minizinc.py
data
shit.py
tsp.mzn
n100w140.001.dzn
Determine critical nodes.mzn
/new_test_data
